arrow==0.10.0
asn1crypto==0.22.0
cement==2.10.2
cffi==1.10.0
click==6.7
colorlog==2.10.0
cryptography==1.8.1
enum34==1.1.6
Fabric==1.13.1
idna==2.5
ipaddress==1.0.18
numpy==1.12.1
packaging==16.8
pandas==0.19.2
paramiko==2.1.2
py4j==0.10.4
pyasn1==0.2.3
pycparser==2.17
pylibmc==1.5.2
PyMySQL==0.7.10
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
SQLAlchemy==1.1.7
